.page {
  @include media-sm-up {
    padding-left: $sidebar-width;
  }

  @include media-sm-down {
    padding-top: $navbar-height;
  }
}

.main {
  &.sidebar--open {
    @include media-sm-down {
      position: fixed;
      overflow: hidden;
    }
  }

  img {
    max-width: 100%;
  }

  .img-25 {
    max-width: 25%;
  }
}

.admonition {
  padding: $gl-spacing-scale-5;
  display: block;
  font-size: $gl-font-size;
  line-height: 1.5;

  &.admonition--note {
    background-color: var(--gl-feedback-info-background-color);
  }

  &.admonition--tip {
    background-color: var(--gl-feedback-success-background-color);
  }

  &.admonition--todo {
    background-color: var(--gl-feedback-neutral-background-color);
    display: flex;
  }

  &.admonition--warning {
    background-color: var(--gl-feedback-warning-background-color);
  }

  .admonition-type {
    text-transform: uppercase;
    font-weight: $gl-font-weight-bold;
  }
}

// Links in body content

.typography,
.app-styles.admonition {
  a {
    color: var(--gl-text-color-link);
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      color: var(--gl-text-color-link);
    }
  }
}

// Keyboard

kbd {
  padding: 3px 5px;
  line-height: 1;
  font-size: 0.875em;
  color: var(--gl-text-color-subtle);
  background-color: var(--gl-background-color-subtle);
  border-width: 1px;
  border-style: solid;
  border-color: var(--gl-border-color-default);
  border-image: none;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 var(--gl-border-color-default);
}

// Figure

.figure {
  border-radius: $gl-border-radius-base;
  display: block;
  margin: $gl-spacing-scale-7 auto;
  text-align: center;

  &--dark {
    background-color: $gray-950;
    color: $white;
    margin-bottom: $gl-spacing-scale-7;
    padding: $gl-spacing-scale-6 $gl-spacing-scale-5;
  }
}

.figure-img {
  display: inline-block;
  line-height: 1;
  margin: 0 auto;
}

.figure-caption {
  font-size: $gl-font-size;
  line-height: 1.5;
  margin-top: $gl-spacing-scale-3;
}
